<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Welcome to the Blog App</h1>
      <p>This is a simple blog application built with Node.js and Express.</p>
      <h2>Latest Posts</h2>
      <ul></ul>
      <%-include('partials/footer') %>
    </main>
  </body>
</html>
